.artist__baniere {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  opacity: 0.4;
}
.artist__baniere__photo {
  height: 350px;
  width: 1250px;
}
.artist__profile__photo {
  height: 200px;
  width: 200px;
  border-radius: 180px;

  z-index: 200;
  margin-top: -160px;
  margin-left: 30px;
  transition: 0.25s;
}
.artist__profile {
  display: flex;
  margin-left: 25px;
}
.artist__profile__text {
  margin-top: -100px;
  z-index: 200;
  padding-left: 30px;
}
.artist__profile__text__h3 {
  display: flex;
  gap: 20px;
  margin-left: -5px;
}
.titre__img__photo {
  height: 70px;
  width: 70px;
  border-radius: 5px;
  position: relative;
}
.titre__artist {
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;
}
.titre__img {
  display: flex;
  align-items: center;
}
.icon-time {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 80px;
  justify-content: space-between;
}
h3 {
  font-size: 16px;
  margin-bottom: 0;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  text-align: start;
}
.titre__img__h3 {
  margin-bottom: 0;
  justify-content: start;
}

p {
  margin: 0;
}
.artist__profile__photo:hover {
  transform: scale(1.1);
}
.artist {
  padding-bottom: 100px;
}
.titres {
  display: flex;
  margin-top: 20px;
  height: 200px;
}
.titres__h4 {
  display: flex;
  gap: 15px;
}
.titres__h3 {
  font-size: 4rem;
  padding-bottom: 5px;
}
.h4 {
  font-size: 1rem;
  margin: 5px;
}
.titres__texte {
  display: flex;
}
.titres__texte__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
.titres__icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.fa-icon {
  opacity: 0;
  transition: 0.25s;
  text-align: center;
  margin-top: 10px;
}
.titres__texte__icon :hover .fa-icon {
  opacity: 1;
}
.titre__photo {
  width: 150px;
  height: 150px;
}

a {
  color: black;
}
tr:hover td {
  background-color: silver;
}
.table > tbody {
  vertical-align: baseline;
}
