@import url(style.css);

.myBtnContainer {
  margin-top: 30px;
  margin-left: 30px;
  padding-bottom: 30px;
}
.filterDiv {
  float: left;
  display: none;
}

.showe-filter {
  display: block;
}

.btn1 {
  border: none;
  outline: none;
  background-color: #f1f1f1;
  cursor: pointer;
  width: 160px;
  height: 40px;
  border-radius: 30px !important;
}

.btn1:hover {
  background-color: #ddd;
}

.btn1.filter--active {
  background-color: var(--primary);
   color: white;
}