@import url(style.css);
header {
  height: var(--navbar-width-min);
  display: flex;
  align-items: center;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  left: 0;
  background-color: var(--first-color);
}
.logo {
  width: 100px;
  height: 70px;
  margin-top: 17px;
  margin-bottom: 17px;
  align-items: center;
}
nav {
  height: 140px;
  gap: 69px;
  justify-content: space-between;
  justify-content: end;
  height: 140px;
  display: flex;
  align-items: center;
}
#nav-header {
  position: relative;
  width: var(--navbar-width);
  left: 16px;
  width: calc(var(--navbar-width) - 16px);
  min-height: 80px;
  border-radius: 16px;
  z-index: 2;
  display: flex;
  align-items: center;
  transition: width 0.2s;
}
#nav-title {
  font-size: 1.5rem;
  transition: opacity 1s;
}
.form-control {
  height: 40px;
  border-radius: 30px !important;
  position: relative;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  width: 500px !important;
  padding: 8px;
  border: solid;
}
form .fa-solid,
form .fas {
  position: absolute;
  margin-left: 466px;
  margin-top: 32px !important;
}
.fa-magnifying-glass {
  margin-top: 60px !important;
  font-size: 17px !important;
}
.d-flex {
  display: flex;
  justify-content: center;
}
.btn-group {
  gap: 30px;
  display: flex;
}
.btn {
  width: 160px;
  height: 40px;
  border-radius: 30px !important;
  background-color:   var(--first-color);
  color: var(--dark);
  padding: 10px;
}
.fa-globe {
  left: 0;
  top:5px;
  color: var(--dark);
  font-size: 20px !important;
}
.fa-chevron-down {
  top: 5px;
  right: 0;
  color: var(--dark);
}
.bx {
  font-size: 28px;
}
.select {
  position: relative;
}
/* Styles pour le bouton du menu déroulant */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Styles pour le bouton au survol */
.dropbtn:hover {
  background-color: #2980B9;
}

/* Styles pour le conteneur du menu déroulant */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Styles pour le contenu du menu déroulant (caché par défaut) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Styles pour les liens dans le menu déroulant */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Changement de couleur des liens au survol */
.dropdown-content a:hover {
  background-color: #ddd;
}

