@import url(style.css);
header {
  height: var(--navbar-width-min);
  display: flex;
  align-items: center;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20000;
  left: 0;
  background-color: var(--first-color);
}
.logo {
  width: 100px;
  height: 70px;
  margin-top: 17px;
  margin-bottom: 17px;
  align-items: center;
}
nav {
  height: 140px;
  gap: 69px;
  justify-content: space-between;
  justify-content: end;
  display: flex;
  align-items: center;
}
#nav-header {
  position: relative;
  width: var(--navbar-width);
  left: 16px;
  width: calc(var(--navbar-width) - 16px);
  min-height: 80px;
  border-radius: 16px;
  z-index: 2;
  display: flex;
  align-items: center;
  transition: width 0.2s;
}
#nav-title {
  font-size: 1.5rem;
  transition: opacity 1s;
}
.form-control {
  height: 40px;
  border-radius: 30px !important;
  position: relative;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  width: 500px !important;
  padding: 8px;
  border: 0.5px solid;
}
form .fa-solid,
form .fas {
  position: absolute;
  margin-left: 466px;
  margin-top: 32px !important;
}
.fa-magnifying-glass {
  margin-top: 60px !important;
  font-size: 17px !important;
}
.d-flex {
  display: flex;
  justify-content: center;
}
.btn-group {
  gap: 30px;
  display: flex;
  height: 40px;
}
.btn {
  width: 160px;
  height: 40px;
  border-radius: 30px !important;
  background-color: var(--first-color);
  color: var(--dark);

}
.bx-globe {
  position: absolute;
  left: 0;
  top: 5px;
  color: var(--dark);
  font-size: 20px !important;
}
.bx-chevron-down{
  top: 5px;
  right: 0;
  color: var(--dark);
}
.bx {
  font-size: 28px;
}
.lang {
  width: 160px;
  height: 80px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--first-color);
  display: none;
  
}
.form-control:focus{
  border: none;
}