@import url(style.css);
* {
  font-family: var(--body-font);
}
.head {
  display: flex;
  justify-content: space-between;
  
}
.img-titre {
  height: 70px;
  width: 70px;
  border-radius: 5px;
  position: relative;
  object-fit: cover;
}
.titre {
  display: flex;
  align-items: center;
  height: 70px;
  width: 300px;
  justify-content: space-between;
}
img{
  object-fit: cover;
}
.img-h3 {
  display: flex;
  align-items: center;
}
.icon-time {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 80px;
  justify-content: space-between;
}
h3 {
  font-size: 16px;
  margin-bottom: 0;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  text-align: start;
}
.h3 {
  margin-bottom: 0;
  justify-content: start;
}


.fa-heart,
.fa-plus {
  align-items: center;
}

p {
  margin: 0;
}

.voir-plus:hover .voir {
  text-decoration: underline;
}
.container1 {
  margin-bottom: 50px;
}

.my-icon {
  transition: opacity 1s;
  color: #ff4545;
  position: absolute;
  margin: 27px;
  opacity: 0;
}
.titre:hover .my-icon {
  opacity: 1;
}
.titre__icon{
  color: #ff4545;
}
.titre__icon:hover{
  transform: scale(1.1);
}
.row--albums{
  padding-bottom: 20px;
}