@import url(style.css);
.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #a2a1a1;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
  margin-top: 8px;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(93px);
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  width: 120px;
  height: 40px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
